/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/*head logo*/
#head-logo {
    height: 70px;
}
/*nav configuration*/
nav {
    display:flex;
    justify-content: space-between;
    width: 100%;
}

/*unfoldable MENU! */
#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked + .menu-btn > span {
    transform: rotate(90deg);
}

#menu-toggle:checked + .menu-btn > span::before {
    transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
    transform: rotate(-90deg);
}

#menu-toggle:checked ~.menu-box {
    left: 0 !important;
}

.menu-btn {
    position:fixed;
    top:40px;
    left:350px;
    width: 26px;
    height:26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display:block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2C303F;
    transition-duration: 0.25s;
}

.menu-btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display:block;
    position:fixed;
    top:0;
    left:-100%;
    width: 300px;
    height: 100%;
    margin:0;
    padding: 80px 0;
    list-style: none;
    background-color: #5b5e6d;
    box-shadow: 2px 2px 6px rgba (0, 0, 0, 0.4);
    transition-duration: 0.25s;
}

.menu-item {
    display:block;
    padding:12px 24px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu-item:hover {
    background-color: darkgrey;
}

