/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/*head logo*/
#head-logo {
    height: 55px;
    margin-left: 5%;
}
/*nav configuration*/
nav {
    display:flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #F4F3F4;
}

/*hamburger interactive MENU! */
#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked + .menu-btn > span {
    transform: rotate(90deg);
}

#menu-toggle:checked + .menu-btn > span::before {
    transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
    transform: rotate(-90deg);
}

#menu-toggle:checked ~.menu-box {
    left: 0 !important;
}

.menu-btn {
    position:fixed;
    top:35px;
    right:5%;
    width: 26px;
    height:26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display:block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2C303F;
    transition-duration: 0.25s;
}

.menu-btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display:block;
    position:fixed;
    top:0;
    left:-100%;
    width: 250px;
    height: 100%;
    margin:0;
    padding: 80px 0;
    list-style: none;
    background-color: #5b5e6d;
    box-shadow: 2px 2px 6px rgba (0, 0, 0, 0.4);
    transition-duration: 0.25s;
}

.menu-item {
    display:block;
    padding:12px 24px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu-item:hover {
    background-color: darkgrey;
}

/*Where work happens section*/
.main-title {
    color: #2C303F;
    margin-left: 5%;
}

.text {
    color:#5b5e6d;
    font-size: 1.05rem;
}

header > h1 {
    font-size: 2em;
    width:70%;
}

header > p {
    padding: 0px 5% 20px;
}

header > p:last-child {
    text-align: center;
}

/*form configuration*/
#email-box {
    font-size: 0.8rem;
    width: 80%;
    height: 2.5rem;
    margin: 0 0 10px 5%;
    padding-left: 5%;
    border-radius: 5px;
    border-color: lightgray;
}

.get-started-button {
    font-size: 0.7rem;
    width: 87%;
    height: 2.5rem;
    margin-left: 5%;
    margin-bottom: 0px;
    background-color: #192592;
    color:white;
    font-weight: 350;
    border-radius: 5px;
    border-color: lightgray;
}

/*end of header*/

/*You're in good company section*/

main > div:first-child {
    background-color: #F4F3F4;
}

.head-image {
    width: 300px;
    display:block;
    margin:auto;
}

.section-title {
    text-align:center;
    margin-top: 40px;
}

main > div > p {
    text-align:center;
    margin: 0 8% 15px 8%;
}

/*discover why button*/

main > div > button {
    font-size: 0.7rem;
    width: 87%;
    height: 2.5rem;
    margin-left: 5%;
    color:#192592;
    font-weight: 690;
    border-color:#192592;
    border-radius: 5px;
}

/*logo definition*/

#airbnb-logo {
    height:2.5em;
}

#capital-one-logo {
    height:3em;
}

#harvard-logo {
    height:2.5em;
}

#los-angeles-time-logo {
    height:2em;
}

#oracle-logo {
    height:1.3em;
}

#ticketmaster-logo {
    height:1.5em;
}

/*logo positioning*/

#logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:25em;
    justify-content: space-evenly;
}

/*try it for free section*/

main > div:last-child > p:first-child {
    margin-top: 70px;
    font-size: 1.5rem;
    font-weight: 900;
}

/*footer*/

footer > div > img:first-child {
    height:120px;
    padding:0 50% 0 0;
}

footer > div > ul {
    list-style:none;
    width:30%;
}

footer > div > ul > li:first-child , .head-list {
    font-weight: 900;
}

footer > div > ul > li , #language > span {
    color: #5b5e6d;
    padding: 0.5em;
    font-size:0.8em;
}

footer > div:first-child {
    display:flex;
    flex-wrap:wrap;
}

/*footer bottom menu*/

footer > div:nth-child(2) {
    background-color: #F4F3F4;
}

footer > div:nth-child(2) > ul {
    display:flex;
    flex-direction: row;
    width:fit-content;
    justify-content: center;
    padding-top:10px;
}

#language > img , #social > i {
    height:20px;
}

#language {
    display:flex;
    justify-content: center;
}

#social {
    display:flex;
    justify-content: center;
}

#social > i {
    width:30px;
    padding-top:20px
}

/*END OF MOBILE FIRST*/

/*media queries*/

/*Iteration 2 --> Small screen (961px > width > 767px)*/

@media (min-width: 767px) {

    /*style adjustments*/
    .text {
        font-size: 1.3rem;
    }
    
    header > h1 {
        font-size: 4em;
        width: fit-content;
    }

    .section-title {
        font-size: 2em;
    }

    /*1-the buttons and inputs stop occupying 100%*/
    
    header > form {
        display:flex;
        flex-direction: row;
        justify-content: start;
    }

    #email-box {
        font-size: 0.9rem;
        width: 50%;
        height: 2.5rem;
        margin: 0 0 10px 5%;
        padding-left: 2%;
    }
    
    .get-started-button {
        font-size: 0.7rem;
        height:2.9rem;
        width: 20%;
        margin-left: 5px;
    }

    main > div > button {
        font-size: 0.7rem;
        width: 20%;
        height: 2.9rem;
        margin-left: 5%;
        display:block;
        margin:auto;
    }

    /*2- 2 company logos on each row*/

    #logo-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #logo-section > img {
        padding: 0 70px;
    }

    /*3- subfooter goes from 2 columns, to display all the 4 columns in the same row*/
    
    footer > div > img:first-child {
        height:120px;
        padding:0 0 0 0;
    }

    footer > div:first-child {
        display:flex;        
    }

    footer > div > ul {
        width:fit-content;
        padding-top: 20px;
    }

    #flexbox-mid {
        display:flex;
        padding: 0 30px 0 0;
        justify-content: space-around;
    }

    #flexbox-mid > div {
        display:flex;
        align-items: center;
    }

    #language {
        padding: 0 30px;
    }
}

/*Iteration 3 --> Medium Screen (1024px > width > 960px)*/

@media (min-width: 960px) {

    #logo-section > img {
        padding: 0 50px;
    }
}


